<div>
    <div class="container">
        <!--main div-->

        <div class="lists">
            <!--list div-->
            <ul>
                <li class="gourmet">Gourment <br />traditional restaurent</li>
                <li> HOME </li>
                <li>
                    ABOUT US
                    <select class="select">
                        <option> 1 </option>
                    </select>
                </li>
                <li> MENU </li>
                <li> PORTIFOLO </li>
                <li> NEWS </li>
                <li> CONTACTS </li>
            </ul>
        </div>
        <!--list div-->

        <div class="slider">
            <span id="slide-1"></span>
            <span id="slide-2"></span>
            <span id="slide-3"></span>
            <div class="image-container">
                <img src="assets\img1.jpg" class="slide" width="500px" height="300px" />
                <img src="assets\img6.jpg" class="slide" width="500px" height="300px" />
                <img src="assets\img7.jpg" class="slide" width="500px" height="300px" />
            </div>
            <div class="buttons">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
        <!-- content div -->
        <div class="row">

            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <p class="welcome"> welcome </p>
                <div class="container row">
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                        <img src="assets\chef.png">
                    </div>

                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                        <p> Click here for more info about this free website template created by TemplateMonster.com</p>

                        <p> Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque penaibet
                            magni
                            parturient montes nasetur ridiculumula dui.</p>

                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <p class="features"> Features </p>
                <p> Unlimited consultations and/or planning</p>
                <p> Expert advice on traditions, customs, aetiquette </p>
                <p> Determine and stay within budget</p>
                <p> Choosing the right Wedding Venue</p>
                <p> Provide preferred vendor's list</p>
                <p> Assist with wedding scheme and design </p>
            </div>

        </div>


    </div><!-- content div -->
    <div>
        <!-- images div -->
        <div>
            <p class="best"> Best Choice </p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <img class="image" src="assets\img1.jpg" width="290" height="170px">
                <div>
                    <p class="lorem">LOREM IPSUM DOAMET CONSECTET
                    <p>
                    <p class="dorem">Dorem ipsum dolor amet consectetur</p>
                </div>

                <div class="price">45$</div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <img class="image" src="assets\img2.jpg" width="290" height="170px">
                <div>
                    <p class="lorem">LOREM IPSUM DOAMET CONSECTET
                    <p>
                    <p class="dorem">Dorem ipsum dolor amet consectetur</p>
                </div>
                <div class="price">45$</div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <img class="image" src="assets\img3.jpg" width="290" height="170px">
                <div>
                    <p class="lorem">LOREM IPSUM DOAMET CONSECTET
                    <p>
                    <p class="dorem">Dorem ipsum dolor amet consectetur</p>
                </div>
                <div class="price">45$</div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                <img class="image" src="assets\img4.jpg" width="290" height="170px">
                <div>
                    <p class="lorem">LOREM IPSUM DOAMET CONSECTET
                    <p>
                    <p class="dorem">Dorem ipsum dolor amet consectetur</p>
                </div>
                <div class="price">45$</div>
            </div>
        </div>
    </div> <!-- images div -->
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <p class="follow"> Follow Us </p>
            <div>
                <ul class="icons">
                    <mat-icon>settings_phone</mat-icon>&nbsp;&nbsp;&nbsp;
                    <mat-icon>remove_shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp;
                    <mat-icon> chat</mat-icon>&nbsp;&nbsp;&nbsp;
                    <mat-icon>thumb_up</mat-icon>
                </ul>
            </div>
            <div class="navbar">
                <nav>
                    <ul>
                        <li> HOME</li>
                        <li> ABOUT US </li>
                        <li> MENU </li>
                        <li> PORTIFOLO </li>
                        <li> NEWS </li>
                        <li> CONTACTS </li>
                    </ul>
                </nav>

            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <p class="email"> Emial Updates </p>
            <p>Join our digital mailing list and get news<br /> deals and be first to know about events</p>
            <form action="#" method="post" id="newsletter">
                <div class="sucess" style="display: none;"> Your subscribe has been sent!</div>
                <label class="email invalid">
                    <input type="text" value="Enter e-maill address">
                    <a href="#" class="btm" data-type="submit"> Subscribe </a>
                    <span class="error"> *This is not a valid email address </span>
                </label>
            </form>
        </div>

    </div>
    <footer>
        <div class="container">
            <div>
                " Gourmet Traditional Restaurent @ 2045 | Privacy and Polacy | Design by: Someone.com
            </div>

        </div>
    </footer>
</div>
<!--main div-->